* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    text-transform: capitalize;
  }
  
  html {
  
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
  
  }
  
  .body {
    overflow-x: hidden;
    width: 100%;
  }
  
  [id] {
    scroll-margin-top: 100px;
  }
  
  a:active {
    color: black;
  }
  
  .landing-img img {
    width: 100%;
  }
  
  .cb {
    color: black
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home {
    background-color: rgb(255, 255, 255);
  }
  
  .navbar {
    padding: 24px 51px 20px 51px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  
  
  }
  
  .nav-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  
  
  }
  
  .nav-ul li {
    font-size: 20px;
    list-style: none;
    color: #57595f;
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-ul li:hover {
    color: black;
  }
  
  .li1 {
    position: relative;
  }
  
  .li1::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 4px;
    border-radius: 3px;
    background-color: #6556ff;
    top: 100%;
    bottom: 0;
    left: 2px;
  }
  
  .btn {
    padding: 20px 62px;
    border-radius: 9999px;
    border: none;
    font-size: 20px;
    font-weight: 500;
  
  }
  
  .btn1 {
    background-color: #6556ff;
    color: #ffffff;
    margin-right: 15px;
  }
  
  .btn1:hover {
    background-color: #e8e6ff;
    color: #6556ff;
  }
  
  .btn2 {
    background-color: #e8e6ff;
    color: #6556ff;
  }
  
  .btn2:hover {
    background-color: #6556ff;
    color: #ffffff;
  }
  
  .landing {
    padding: 80px 51px 80px 51px;
    background-color: #f6faff;
  }
  
  .landing-img {
    width: 50%;
  }
  
  .about {
    width: 50%;
  
  }
  
  h1 {
    font-size: 50px;
    color: #222c44;
    line-height: 48px;
    text-transform: none;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 30px 0px;
  }
  
  h1 span {
    text-transform: none;
    font-family: "Manrope", sans-serif;
    letter-spacing: -1px;
  }
  
  .verified {
    font-size: 16px;
    color: #43c639;
    font-weight: 700;
    margin-left: 8px;
    justify-content: start;
  }
  
  .verified i {
    padding-right: 10px;
    font-size: 18px;
  
  }
  
  .about-p {
    font-size: 18px;
    color: #57595f;
    font-weight: 400;
  
  }
  
  .search {
    background-color: red;
    border-radius: 9999px;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 0px 12px 0px;
    margin: 50px 0px;
    box-shadow: 0 63px 59px rgba(26, 33, 188, .1);
  }
  
  .search input {
    border-radius: 9999px;
    padding: 32px 60px 32px 32px;
    font-size: 20px;
    border: none;
    text-transform: none;
    color: #9ca3af;
    font-weight: 400;
    width: 100%;
  }
  
  .search input:focus-visible {
    outline: none;
  
  }
  
  .search .icon {
    background-color: #1a21bc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    padding: 36px;
  
  
  }
  
  .search .icon:hover {
    box-shadow: 1px 2px 15px -3px rgb(74 119 191), 4px 4px 7px 0px rgb(57 80 122);
  }
  
  .icon::before {
    content: " ";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    left: 30%;
    top: 30%;
  
  }
  
  .icon::after {
    content: " ";
    width: 10px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    left: 60%;
    top: 66%;
  
    transform: rotate(45deg);
  
  }
  
  .about ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .about ul li .rightsign {
    margin-right: 10px;
    font-size: 30px;
  }
  
  .companies {
    padding: 80px 51px;
    text-align: center;
    background-color: #ffffff;
  
  }
  
  .companies h2 {
    font-size: 24px;
    font-weight: 700;
    color: #222c44;
  }
  
  .companies-slider {
    width: 100%;
    overflow-x: auto;
    /* Hide overflow */
  
  }
  
  .slider-track {
    display: flex;
    /* Line up items in a row */
    width: fit-content;
    /* Let content decide width */
    animation: slide 15s linear infinite;
    /* Continuous scroll */
    border-bottom: solid 1px #e5e7eb;
  
  
  }
  
  .companies-slider::-webkit-scrollbar {
    width: 0px;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-50%);
    }
  }
  
  .slider-track img {
    padding: 56px 100px;
  
  }
  
  .courses {
    padding: 80px 51px 0px 51px;
    background-color: #ffffff;
  }
  
  .courses-title h2 {
    font-size: 50px;
    font-weight: 700;
    color: #222c44;
    text-align: center;
    text-transform: none;
  }
  
  .courses-title {
    justify-content: space-between;
    margin-bottom: 80px;
  
  }
  
  .courses-title a p {
    transition: letter-spacing 0.3s ease-in-out;
    color: #6556ff;
    font-weight: 500;
    font-size: 18px;
  }
  
  .courses-title a p:hover {
    letter-spacing: 1.8px;
  }
  
  .cards {
    background-color: #ffff;
    min-width: 100%;
    flex-shrink: 0;
    justify-content: space-around;
  }
  
  .card {
  
    background-color: rgb(141, 130, 238);
    padding: 12px 12px 48px 12px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 40px 20px rgba(0, 0, 0, .15);
    position: relative;
    flex: 0 0 calc((100% - 40px) / 3);
    min-width: calc((100% - 40px) / 3);
  }
  
  .wrapper-container {
  
  
    overflow: auto;
  
  
  }
  
  .wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 80px;
  
  }
  
  .card .course-img {
    width: 100%;
  
  }
  
  .card h2 {
    font-size: 27px;
    font-weight: 900;
    text-transform: none;
  }
  
  .courses-content {
    padding: 24px 12px 0px 12px;
  }
  
  .courses-content .colt {
    color: #404040;
    padding: 24px 0px 0px 0px;
    font-weight: 400;
    font-size: 16px;
  }
  
  .rate {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: solid 1px #e5e7eb;
    align-items: center;
  
  
  
  }
  
  .rate-no {
    font-size: 28px;
    color: #bb2121;
    font-weight: 600;
  
  }
  
  .star {
    color: #eab308;
    margin-right: 3px;
    font-size: 16px;
  
  }
  
  .gray {
    margin-right: 3px;
    color: #9ca3af;
  }
  
  .stars {
    margin-right: 80px;
  }
  
  .price {
    font-size: 30px;
    font-weight: 600;
    ;
  }
  
  .quantity {
    margin: 24px 0px 0px 0px;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
  }
  
  .quantity span {
    text-transform: none;
    margin-left: 15px;
  }
  
  .quantity img {
    width: 14%;
  }
  
  .card::after {
    content: "Best Seller";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1a21bc;
    color: #ffffff;
    right: 10%;
    top: 35%;
    padding: 24px;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
  }
  
  
  .wrapper::-webkit-scrollbar {
    width: 0px;
  }
  
  .mentors {
    background-color: #d5effa;
    padding: 80px 51px;
  }
  
  .mentors h2 {
    font-size: 50px;
    font-weight: 700;
    color: #222c44;
    text-transform: none;
    width: 30%;
    line-height: 45px;
  }
  
  .mentor {
    text-align: center;
    flex: 0 0 calc((100% - 40px) / 3);
    min-width: calc((100% - 40px) / 3);
  }
  
  .mentor h3 {
    font-size: 24px;
    font-weight: 700
  }
  
  .mentor p {
    padding-top: 8px;
    color: #6a777d;
    font-size: 18px;
    font-weight: 400;
  }
  
  .mentors-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
    overflow: auto;
  
  }
  
  .mentors-wrapper::-webkit-scrollbar {
    width: 0px;
  }
  
  .customers {
    padding: 80px 51px;
    background-color: #ffffff;
  }
  
  .customer-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 40px 20px rgba(0, 0, 0, .15);
    position: relative;
    width: calc(100% / 3);
    margin-left: 20px;
  }
  
  .wrapper-cs {
    justify-content: space-between;
    padding: 80px 0px;
    width: 300%;
    transition: transform 2s ease;
  
  }
  
  .slide-container {
    overflow: auto;
  }
  
  .slide-container::-webkit-scrollbar {
    width: 0px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 8px 0px;
    ;
  }
  
  .customer-box .stars {
    margin: 0px;
  
  }
  
  .customer-box p {
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    margin: 16px 0px;
  }
  
  .customer-box img {
    position: absolute;
    width: 25%;
    top: -40px;
    left: 15px;
  }
  
  input[type="radio"] {
    display: none;
  
  }
  
  .radio {
    text-align: center;
  }
  
  .radio {
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  }
  
  .radio-btn {
  
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #57595f;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .radio-btn:hover {
    background-color: black;
  }
  
  
  #s1:checked~.slide-container .wrapper-cs {
    transform: translateX(0%);
  
  }
  
  #s2:checked~.slide-container .wrapper-cs {
    transform: translateX(-33.5%);
  }
  
  #s3:checked~.slide-container .wrapper-cs {
    transform: translateX(-66.7%);
  }
  
  #s1:checked~.radio label[for="s1"],
  #s2:checked~.radio label[for="s2"],
  #s3:checked~.radio label[for="s3"] {
    background-color: #007bff;
  
  }
  
  .newsletter {
    padding: 80px 51px;
  
    background-color: #ffffff;
    text-align: center;
  }
  
  .newsletter-content h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 8px;
  }
  
  .newsletter-content p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #c0cdec;
    text-transform: none;
    text-align: center;
    width: 25%;
  }
  
  .newsletter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/bgFile.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 51px 0px;
    justify-content: center;
    border-radius: 12px;
  
  
  
  }
  
  .news {
    width: 50%;
    margin-top: 30px;
  }
  
  .footer {
    background-color: #d5effa;
    padding: 80px 51px 30px 51px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .sec ul a li {
    list-style: none;
    color: #57595f;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 16px;
  }
  
  .sec ul a li:hover {
    color: #6556ff;
  }
  
  .sec i {
    -webkit-text-stroke: 1.5px black;
    color: transparent;
    font-size: 25px;
    margin-right: 25px;
  
  }
  
  .section4 i {
    -webkit-text-stroke: 2px #6556ff;
    color: transparent;
    font-size: 25px;
    margin-right: 25px;
  }
  
  .sec i:hover {
    -webkit-text-stroke: 2px #6556ff;
  }
  
  .section1 {
    text-align: left;
    width: 30%;
  }
  
  .section2 h2,
  .section3 h2 {
    padding: 0px 0px 20px 0px;
  }
  
  .section4 {
    text-align: start;
    width: 30%;
  }
  
  .section4 p {
    padding: 20px 0px;
  }
  
  .sec {
    text-align: start;
  }
  
  .last {
    background-color: #d5effa;
    padding: 0px 51px;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .last p,
  .last span {
    color: #57595f;
    font-size: 14px;
    text-decoration: none;
  
  }
  
  .last p span:hover,
  .last span:hover {
    color: #6556ff;
  
  }
  
  .up {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgb(16 44 70);
    left: 95%;
    bottom: 3%;
    z-index: 5;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  }
  
  .up-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d8dce1;
    height: 100%;
  }
  
  
  .sign-pg {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    display: none;
  
  
  }
  
  .white-pg {
    background-color: #ffff;
    width: 33%;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 56px 32px 32px 32px;
    border-radius: 8px;
  
  
  
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  
  }
  
  .btns-btn {
    color: white;
    background-color: #6556ff;
    padding: 14px;
    border-radius: 8px;
    border: 0;
    width: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6556ff;
  
  }
  
  .btns-btn:hover {
    background-color: #6556ff26;
    color: black;
    cursor: pointer;
  
  }
  
  .pg-or {
    margin: 32px 0px;
    color: black;
    text-align: center;
    font-size: 16px;
  
  }
  
  .navbar input {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 22px;
  }
  
  .sign-pg input::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #212529da;
    font-weight: 500;
  }
  
  .sign-pg input:focus-visible {
    border: 1px solid #007bff;
    outline: 0;
  }
  
  .sign-up-w100 {
    background-color: #6556ff;
    border: 1px solid #6556ff;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 36px;
  
  }
  
  .sign-up-w100:hover {
    background-color: white;
    color: #6556ff;
  }
  
  .sign-up-p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: center;
    color: black;
  }
  
  .sign-up-p span a {
    color: #6556ff;
  }
  
  .sign-up-p span:hover {
    text-decoration: underline;
    color: #6556ff;
  }
  
  .close-i {
    position: absolute;
    right: 34%;
    margin-right: 32px;
    top: 45px;
    z-index: 999;
    display: none;
    background-color: white;
  }
  
  .close-i:hover {
    color: #6556ff;
  }
  
  #close:checked~.sign-pg {
    display: none !important;
  }
  
  #sign-up:checked~.sign-up {
    display: flex;
  }
  
  #sign-up:checked~.side {
    display: none;
  }
  
  #close:checked~.sign-up {
    display: none !important;
  }
  
  #sign-in:checked~.sign-in {
    display: flex;
  
  }
  
  #sign-in:checked~.side {
    display: none;
  
  }
  
  .sign-in .forgetpassword {
    color: #1a21bc;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .sign-in .white-pg {
    height: auto;
  }
  
  .not-sign-in {
    text-align: end;
  }
  
  .not-sign-in:hover,
  .forgetpassword:hover {
    text-decoration: underline;
  }
  
  
  
  .menu-toggel {
    width: 50px;
    height: 50px;
    color: #fff;
    padding: 8px 28px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    position: relative;
    border: 2px solid #222c44;
    display: none;
  }
  
  
  .menu-toggel .line {
    width: 30px;
    height: 3px;
    background-color: #222c44;
    border-radius: 5px;
  
  
  }
  
  .side {
    background-color: white;
    position: absolute;
    right: 0px;
    top: 116px;
    border-radius: 0px 0px 15px 15px;
  
  
  }
  
  .show1 {
    margin: 10px 0px;
  }
  
  .side-ul {
    flex-direction: column;
    width: 250px;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    display: none;
  
  
  
  
  }
  
  .side-ul li {
    padding: 8px 28px;
    border-radius: 5px;
  
  }
  
  .side-ul li:hover {
    color: #222c44;
    margin-left: 5px;
  }
  
  
  
  
  /*media queryy */
  
  @media (max-width: 575.98px) {
    /*nav*/
  
    .navbar {
  
      justify-content: space-between;
      padding: 24px 16px 24px 16px;
    }
  
    .navbar .menu-toggel {
      display: flex;
  
    }
  
    #menu:checked~.side .side-ul {
      display: flex;
    }
  
    .nav-ul {
      display: none;
    }
  
    .btn {
      display: none;
    }
  
    .side .show1,
    .side .show2 {
      display: block;
    }
  
    .show1:hover {
      background-color: #e8e6ff;
      color: #6556ff;
    }
  
    .show2:hover {
      background-color: #6556ff;
      color: #e8e6ff;
    }
  
    /*landing*/
    .landing {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .about,
    .landing-img {
      width: 100%;
    }
  
    .about ul li .rightsign {
      margin-right: 3px;
      font-size: 25px;
    }
  
    /*companies*/
    .companies {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    /*mentors*/
    .courses {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .courses-title {
      display: block;
  
    }
  
    .courses-title h2 {
      font-size: 36px;
      text-align: start;
    }
  
    .mentor {
      flex: 0 0 calc((100% - 40px) / 1);
      min-width: calc((100% - 40px) / 1);
    }
  
    .mentors {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .mentors h2 {
      width: 100%;
      font-size: 48px;
    }
  
    .wrapper-cs {
      width: 875%;
    }
  
    .customers {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .customer-box img {
      width: 30%;
      top: -55px;
    }
  
    .customer-box {
      margin-left: 10px;
    }
  
    .newsletter-content {
      padding: 30px 20px;
    }
  
    .newsletter-content h2 {
      margin-top: 0;
      font-size: 35px;
    }
  
    .newsletter-content p {
      width: auto;
      margin: 0;
      font-size: 12px;
    }
  
    .newsletter-content {
      background-size: 100% 45%;
    }
  
    .news {
      width: auto;
      margin-top: 0;
    }
  
    .up {
      left: 86%;
    }
  
    .footer {
      flex-wrap: wrap;
      justify-content: space-around;
  
    }
  
    .section1 {
      margin-bottom: 30px;
    }
  
    .section1,
    .section4 {
      width: 100%;
    }
  
    .last {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .last p {
      text-align: center;
  
    }
  
    .white-pg {
      width: 85%;
    }
  
    .close-i {
      margin-right: 0;
      right: 16%;
    }
  
    .SU {
      width: 90%;
    }
  
  }
  
  
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    .navbar {
  
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .navbar .menu-toggel {
      display: flex;
  
    }
  
    #menu:checked~.side .side-ul {
      display: flex;
    }
  
    .nav-ul {
      display: none;
    }
  
    .btn {
      display: none;
    }
  
    .side .show1,
    .side .show2 {
      display: block;
    }
  
    .show1:hover {
      background-color: #e8e6ff;
      color: #6556ff;
    }
  
    .show2:hover {
      background-color: #6556ff;
      color: #e8e6ff;
    }
  
    .landing {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .about,
    .landing-img {
      width: 100%;
    }
  
    .about ul li .rightsign {
      margin-right: 3px;
      font-size: 25px;
    }
  
    .courses-title {
      display: block;
  
    }
  
    .courses-title h2 {
      font-size: 36px;
      text-align: start;
    }
  
    .companies {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .mentor {
      flex: 0 0 calc((100% - 40px) / 1);
      min-width: calc((100% - 40px) / 1);
    }
  
    .mentors h2 {
      width: 80%;
      font-size: 48px;
    }
  
    .wrapper-cs {
      width: 875%;
    }
  
    .customers {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .customer-box img {
      top: -72px;
    }
  
    .newsletter-content h2 {
      margin-top: 0;
    }
  
    .newsletter-content p {
      width: auto;
    }
  
    .news {
      width: auto;
      margin-top: 0;
    }
  
    .up {
      left: 90%;
    }
  
    .footer {
      flex-wrap: wrap;
      justify-content: space-around;
  
    }
  
    .section1 {
      margin-bottom: 30px;
    }
  
    .section1,
    .section4 {
      width: 100%;
    }
  
    .white-pg {
      width: 60%;
    }
  
    .close-i {
      margin-right: 0;
      right: 26%;
      top: 70px
    }
  
  }
  
  
  @media (min-width: 768px) and (max-width: 991.98px) {
  
    /*navbar*/
    .navbar {
  
      justify-content: space-between;
    }
  
    .navbar .menu-toggel {
      display: flex;
  
    }
  
    #menu:checked~.side .side-ul {
      display: flex;
    }
  
    .nav-ul {
      display: none;
    }
  
    .navbar .btn {
      display: none;
    }
  
    .side .show1,
    .side .show2 {
      display: block;
    }
  
    .show1:hover {
      background-color: #e8e6ff;
      color: #6556ff;
    }
  
    .show2:hover {
      background-color: #6556ff;
      color: #e8e6ff;
    }
  
    .about ul li .rightsign {
      margin-right: 3px;
      font-size: 25px;
    }
  
    .mentor {
      flex: 0 0 calc((100% - 40px) / 2);
      min-width: calc((100% - 40px) / 2);
    }
  
    .mentors h2 {
      width: 60%;
      font-size: 48px;
    }
  
    .wrapper-cs {
      width: 440%;
  
    }
  
    .newsletter-content p {
      width: auto;
    }
  
    .white-pg {
      width: 45%;
    }
  
    .close-i {
      margin-right: 0;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
    .navbar {
  
      padding: 24px 30px 24px 30px;
    }
  
    .navbar .logo {
      width: 19%;
    }
  
    .btn {
      padding: 20px 33px;
    }
  
    .btn1 {
      margin-right: 0;
    }
  
    .cards {
      gap: 34px;
      justify-content: center;
    }
  
    .mentors h2 {
      width: 50%;
    }
  
    .white-pg {
      width: 40%;
    }
  
    .close-i {
      margin-right: 0;
    }
  
  
  }
  
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  
    .btn {
      padding: 20px 46px;
    }
  
  }
  
  
  
  @media (min-width: 1400px) {
    .newsletter-content {
      background-size: cover;
    }
  
    .customer-box img {
      top: -50px
    }
  }